<div class="content w-screen h-screen flex flex-col justify-center items-center">
  <div class="picture  w-40 h-screen flex flex-col justify-center items-center">
    <img class="w-30 animate-bounce" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/57442db4-b764-41c0-bff5-1a29fe9ae2c7/d4p4epr-22d95dd5-1afc-43b3-8050-7e5ed3cb8aab.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU3NDQyZGI0LWI3NjQtNDFjMC1iZmY1LTFhMjlmZTlhZTJjN1wvZDRwNGVwci0yMmQ5NWRkNS0xYWZjLTQzYjMtODA1MC03ZTVlZDNjYjhhYWIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.hLk6BRFIu3kDk9VSESST5csQzbTZ3CjV_Oc8rGtwaTk"/>
    <img class="w-30" src="https://pngimg.com/d/trampoline_PNG37.png"/>
  </div>
</div>